
@font-face {
  font-family: 'DINNextLTPro-Heavy';
  src: url('DINNextLTPro-Heavy.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DINNextLTPro-Heavy';
  src:  url('DINNextLTPro-Heavy.otf')  format('opentype'),
	    url('DINNextLTPro-Heavy.woff') format('woff'),
        url('DINNextLTPro-Heavy.ttf')  format('truetype'),
        url('DINNextLTPro-Heavy.svg#DINNextLTPro-Heavy') format('svg');
  font-weight: normal;
  font-style: normal;
}


